[application]
name = "Project Name"
modules = myproject
middleware =
static = /static/
session_timeout = 7200
use_x_forwarded_host = false
use_x_forwarded_port = false

[mysql]
#database =
#host = localhost
#username =
#password =

[redis]
#server = localhost
#port = 6379
#db = 0

[logging]
#host = 127.0.0.1
#port = 514
#debug = true
